.message-card {
    padding: 20px;
    width: 400px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .message-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .message-clear-button {
    margin-bottom: 20px;
  }
  
  .message-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  