<modify-content></modify-content>

<div fxLayout="column" fxLayoutGap="12px">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field>
      <input matInput [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Search">
    </mat-form-field>
    <button mat-icon-button (click)="search()" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div *ngIf="message" [style.color]="messageColor">{{ message }}</div>
  
  <h3>Blunders</h3>
  <mat-grid-list cols="4" rowHeight="750px" gutterSize="12px">
    <mat-grid-tile *ngFor="let item of baseballCards | contentFilter:'Blunders'">
      <content-component class="" [content]="item"></content-component>
    </mat-grid-tile>
  </mat-grid-list>

  <h3>Achievements</h3>
  <mat-grid-list cols="4" rowHeight="750px" gutterSize="12px">
    <mat-grid-tile *ngFor="let item of baseballCards | contentFilter:'Achievement'">
      <content-component class="" [content]="item"></content-component>
    </mat-grid-tile>
  </mat-grid-list>
</div>

























