<modify-content></modify-content>

      <div *ngIf="message">
        <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
      </div>


  <!-- Blunders Content -->
  <div class="">
    <h2 class="">Blunders</h2>
    <content-component class="" *ngFor="let item of baseballCards | contentFilter:'Blunders'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></content-component>
  </div>   
   <!-- Achievements Contents -->
  <div class="">
    <h2 class="">Achievements</h2>
    <content-component class="" *ngFor="let item of baseballCards | contentFilter:'Achievement'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst" ></content-component>
  </div>   
























