img {
    width: 50%
}
.Blunders, .Achievement {
    background-color: white;
    padding: 15px;
    height: 95%;
    margin-top: 2.5%;
    color: black
}
.Achievement {
    background-color: black;
    color: white
}