<form class="card-form" (ngSubmit)="addContentToList()">
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label">Card Title</mat-label>
    <input matInput id="title" name="title" [(ngModel)]="title" required class="card-form__input" />
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label" for="description">Description</mat-label>
    <textarea matInput id="description" name="description" [(ngModel)]="description" rows="3" required class="card-form__input"></textarea>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label">Creator</mat-label>
    <input matInput id="creator" name="creator" [(ngModel)]="creator" required class="card-form__input" />
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label">Image URL</mat-label>
    <input matInput id="imgURL" name="imgURL" [(ngModel)]="imgURL" required class="card-form__input" />
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label">Select a Type</mat-label>
    <mat-select id="type" name="type" [(ngModel)]="type" required class="card-form__input">
      <mat-option value="">Select a Type</mat-option>
      <mat-option value="Blunders">Blunder</mat-option>
      <mat-option value="Achievement">Achievement</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="card-form__field">
    <mat-label class="card-form__label">Tags</mat-label>
    <input matInput id="tags" name="tags" [(ngModel)]="tags" required class="card-form__input" />
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" class="card-form__button">Add Card</button>
</form>
