<!-- <div class="row">
    <div class="card" *ngFor="let items of contentList;" style="max-width: 20rem;">
        <div class="card-header">Baseball Blunders</div>
        <div class="card-body">
          <h4 class="card-title">{{ items.title }}</h4>
          <p class="card-text">{{ items.description }}</p>
          By:<em> {{ items.creator }}</em>
        </div>
      </div>
</div> -->


<content-list *ngFor="let item of contentArray.slice(0, 5); index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></content-list>





